In [5]:
import pandas as pd
import os
#current working dir
print(os.getcwd())

/Users/abanfo/Documents/GitHub/PET-and-ML

## Basic Data Exploration Adult dataset

In [2]:
# import data 
df = pd.read_csv(r'/Users/abanfo/Documents/GitHub/PET-and-ML/Dataset/adult.data',sep=',')
col_name=['age','workclass','fnlwgt','education','education-num','marital-astatus','occupation','relationship','race','sex','capital-gain','apital-loss','hours-per-week','native-country','class']
# add header to the dataframe
df.columns = col_name

In [3]:
print("size of the data set", df.size, "The shape of the data set", df.shape)

size of the data set 488400 The shape of the data set (32560, 15)

In [4]:
# check for missed value
df.isnull().any()

age                False
workclass          False
fnlwgt             False
education          False
education-num      False
marital-astatus    False
occupation         False
relationship       False
race               False
sex                False
capital-gain       False
apital-loss        False
hours-per-week     False
native-country     False
class              False
dtype: bool

## based on the above result there are no nan or empty entry on the dataset

In [5]:
df.shape

(32560, 15)

In [10]:
nan_rows = df[df['age'].notnull()]
nan_rows

,age,workclass,fnlwgt,education,education-num,marital-astatus,occupation,relationship,race,sex,capital-gain,apital-loss,hours-per-week,native-country,class
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [11]:
df.loc[:, df.isnull().any()].columns

Index([], dtype='object')

In [12]:
df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
education-num      0
marital-astatus    0
occupation         0
relationship       0
race               0
sex                0
capital-gain       0
apital-loss        0
hours-per-week     0
native-country     0
class              0
dtype: int64

## Basic Data Exploration Diabetes dataset

In [ ]:
df = pd.read_csv(r'/Users/abanfo/Documents/GitHub/PET-and-ML/Dataset/adult.data',sep=',')